body{
    background: url("https://images.unsplash.com/photo-1656055367059-4e9f0511abdd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=869&q=80");
    background-repeat: no-repeat;
  background-size: 100%;
     
 }
h1{
    text-align: center;
}

.todos{
    margin: 10px;
}

.card-top{
    text-align: center; 
    font-size: 30px;
}

.card-main{
    text-align: center;
}

.card-col{
    margin-top:10px;
}